[submodule "external/CommonLibVR"]
	path = external/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "Tools/Bethesda-CMakeModules"]
	path = Tools/Bethesda-CMakeModules
	url = https://github.com/Exit-9B/BethesdaCMakeModules.git
